<md-card class="card-demo" fxFlexOrder="{{pad.id}}">
	<md-card-title>Pad #{{pad.id}}</md-card-title>
	<md-card-content fxLayout="row" fxLayout.sm="column" fxLayoutAlign="space-around" fxLayoutGap="10px">
		<div fxLayout="column" fxLayoutAlign="start center">
			<label>Note</label>
			<select [ngModel]="pad.note" name="note">
				<option [ngValue]="note.number" *ngFor="let note of notes">
					{{note.number}} - {{note.name}}
				</option>
			</select>
		</div>
		<app-potentiometer 
			name='Threshold' 
			[value]='pad.threshold'
			[min]=0 
			[max]=1023 
			(notify)='onNotify($event)'></app-potentiometer>
		<app-potentiometer 
			name='Relevant Samples' 
			[value]='pad.relevantSamples' 
			[min]=0 
			[max]=100
			(notify)='onNotify($event)'></app-potentiometer>
		<app-potentiometer
			name='Irrelevant Noise' 
			[value]='pad.irrelevantNoise' 
			[min]=0 
			[max]=1000 
			(notify)='onNotify($event)'></app-potentiometer>
		<app-potentiometer 
			name='Gain'            
			[value]='pad.gain'            
			[min]=0 
			[max]=100  
			(notify)='onNotify($event)'></app-potentiometer>
		<div fxLayout="column" fxLayoutAlign="start center">
			<label>Color</label>
			<input type='color' placeholder="Color" [ngModel]='pad.color' (ngModelChange)="colorChange($event)">
		</div>
	</md-card-content>
</md-card>